<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<script type="text/javascript">
		active_page = "page";
	</script>
	{% include 'header.html' %}
	<title>{{ title }}</title>
</head>
<body>
	{% if pm %}<div class="top_notice">You have <a href="?/PM/{{ pm.id }}">an unread PM</a>{% if pm.waiting > 0 %}, plus {{ pm.waiting }} more waiting{% endif %}.</div><hr>{% endif %}
	<header>
		<h1>{{ title }}</h1>
		<div class="subtitle">
			{% if subtitle %}
				{{ subtitle }}
			{% endif %}
			{% if mod and not hide_dashboard_link %}<p><a href="?/">{% trans %}Return to dashboard{% endtrans %}</a></p>{% endif %}
		</div>
	</header>
	{{ body }}
	<hr>
	<footer>
		<p class="unimportant" style="margin-top:20px;text-align:center;">- <a href="http://tinyboard.org/">Tinyboard</a> + 
			<a href='https://int.vichan.net/devel/'>vichan</a> {{ config.version }} -
		<br><a href="http://tinyboard.org/">Tinyboard</a> Copyright &copy; 2010-2014 Tinyboard Development Group    
		<br><a href="https://int.vichan.net/devel/">vichan</a> Copyright &copy; 2012-2014 vichan-devel</p>
	</footer>
	<!-- Piwik -->
	<script type="text/javascript">
	  var _paq = _paq || [];
	  _paq.push(["trackPageView"]);
	  _paq.push(["enableLinkTracking"]);

	  (function() {
		var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.cable6.net/";
		_paq.push(["setTrackerUrl", u+"piwik.php"]);
		_paq.push(["setSiteId", "1"]);
		var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
		g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<noscript>
		<img src="http://piwik.cable6.net/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
	</noscript>
	<!-- End Piwik -->
</body>
</html>
